h1 {
    text-align: center;
    margin: 10px;
    padding: 15px;
    color: #E0E0E0;
}

.addElement {
    text-align: center;
    background: #616161;
    width: 100%;
    height: 170px;
}

.showElement {
    width: 95%;
    height: 450px;
    margin: 5px 35px;
    overflow: auto;
}

input {
    margin: 5px;
    width: 800px;
    height: 20px;
    padding: 6px 12px;
    border-radius: 10px;
}

.show {
    width: 70px;
    height: 35px;
    text-align: center;
    padding: 6px 12px;
    border-radius: 10px;
    

}

input:focus {
     border: 2px groove #9E9E9E;
     outline: none;
}

body{
    color: #212121;
}

.butStyle {
    float:right;
    font-weight: bold;
    border: #EEEEEE;
    vertical-align: center;
    height: 30px;
    border-radius: 5px;
    width: 30px;
   
}

.sStyle {
    float: left;
    display: none;
}

.pStyle {
    width: 800px;
    height: 30px;
    margin: 5px 195px;
    padding: 6px 12px;
    background: #E0E0E0;
    color: #212121;
    cursor: pointer; 
    vertical-align: center;
    border-radius: 5px;
}

.pStyle:hover {
    background: #9E9E9E;
}
